/* these styles are specific for a component */
/* they are specific bc they are a class, or an ID */
/* if we use a general styles, like using button{ ..styles..}, is gonna be global */

/* specific for the component who imports it */
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(219, 77, 191);
  max-width: 750px;
  max-height: 750px;
  z-index: 10;
  padding: 15px;
  border-radius: 10px;
}

